<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>main page</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/js/response.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Main page</h1>
		</div>
		<div>
			<h3>
				<a th:href="@{/message_register}">Register A message</a>
			</h3>
			<h3>
				<a th:href="@{/messages}">Monitor messages</a>
			</h3>
		</div>
	</div>
</body>
</html>